/* about section styling */

.about__wrapper {
    margin: 0 auto;
    padding: 50px 15px 58px 15px;
    max-width: 1170px;
}

.about__title {
    padding: 54px 0;

    font-size: 36px;
    text-align: center;
    line-height: 42px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.about__separator {
    width: 170px;
    height: 0;
    margin: 0 auto;

    border: none;
    border-top: solid 1px #EC7979;
}

.about__subtitle {
    padding: 40px 0 71px;

    color: #86878B;
    font-size: 18px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 21px;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__content-item {
    width: calc(100% / 3);
    margin: 0 15px;
    display: inline-block;
    max-width: 370px;

    text-align: center;
}

.about__item-title {
    margin: 0 auto;
    padding: 33px 0 34px;

    font-size: 24px;
    line-height: 33px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.about__item-subtitle {
    font-size: 18px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    line-height: 21px;
}